
body{
	font-family: 'Lobster', cursive;
}

#mainDesc{
	
	padding: 20px;
	margin-bottom: 50px;
	
	
	
}

#hours{
	line-height: 350px;
	color: yellow;
	padding-bottom: 0;
	margin-bottom: 0;

	

}

.forecastWeeks{
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
	border-radius: 20px 0px 20px 0;
	box-shadow: 3px 3px 3px 3px #66666680;

}

#sticky-footer{
	margin-top: 10px;
}

